#modal {
    width: 40rem;
    height: 15rem;
    border: solid 1px #000000;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 0 2rem 1rem #c1cbf1;
}

#modal-content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

#modal-close-container {
    width: 95%;
    text-align: right;
}

#modal-close:hover {
    cursor: pointer;
}